.contianer {
    margin-top: 1.5rem;
}

mat-card {
    margin: 1rem;
}

.full-screen-spacer {
    flex: 1 1 auto;
  }

.description-headline {
    margin-bottom: 0;
}

.green {
    color: white;
    background: #52B788;
    display: flex;
    align-items: center;
}

.yellow {
    color: white;
    background: #F0A202;
    display: flex;
    align-items: center;
}

.red {
    color: white;
    background: #f44336;
    display: flex;
    align-items: center;
}

.no-status {
    color: white;
    background: #424242;
    display: flex;
    align-items: center;
}

.status-text {
    margin-top: 0.3rem;
    font-size: 2em;
}

.individual-status-text {
    display: flex;
    justify-content: center;
    font-size: 2em;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.progress-bar {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.time-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.control-buttons {
    display: flex;
    justify-content: space-around;
    
    button {
        width: 45%;
    }
}

.mat-slider {
    width: 100%;
}

.individual-setting {
    margin-top: 1rem;
    margin-bottom: 0.6rem;
}

.rotation-toggles {
    mat-button-toggle-group {
        width: 100%;
    }

    mat-button-toggle {
        flex: 1 1 100%;
        box-sizing: border-box;
        align-items: center;
        flex-direction: row;
        display: flex;
    }
}
.upload-button {
    width: 100%;
    
    .save-button-text {
        font-size: 1.5em;
        margin-top: 0.6rem;
        margin-bottom: 0.6rem;
    }
}