<h1 mat-dialog-title>  
  Reset takes 20 seconds
</h1>
<h4>This screen will not close during the reset process</h4>

<div mat-dialog-content>

  <button aria-label="Close dialog window" class="pure-css-button" style="background-color: white; color: black" (click)="closeDialog()">
    CANCEL
  </button>
  

  <ol>
    <li>
    Reset is complete when the second LED stops fast blinking, then turns solid.
    </li>
    <li>
      Connect your mobile device to the new WiFi network called, <b>"Winderoo Setup"</b>
    </li>
    <li>Add Winderoo to an existing WiFi network. If the LED starts to slow blink, Winderoo has successfully joined that network.</li>
    <li>
      Wait for your device to reconnect to your existing WiFi network.
    </li>
  </ol>

  <h4>Winderoo is now available at:</h4>
  <ul>
    <li>
      <a href="http://winderoo.local">http://winderoo.local</a>
    </li>
  </ul>
</div>

<button mat-stroked-button aria-label="Reset winder" class="pure-css-button" (click)="confirmReset()">
  CONFIRM RESET
</button>

<p class="version">
  {{ this.version }}
</p>